
<div class="collapse navbar-collapse" id="navbar">
  <ul class="nav navbar-nav">
    <li class="active"><a href="http://dictionary.reference.com/">Dictionary</a></li>
    <li><a href="#"></a></li>

  </ul>
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" ng-model = "string" placeholder="Search Scrabble Words">
    </div>
    <button type="submit" ng-click = "scrabbleMap(string); firstSearch = false" class="btn btn-default">Submit</button>
  </form>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="">Score: {{score}}</a></li>
    <li><a href="#/likes">Saved Searches</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<last-search ng-show = '!firstSearch'></last-search>
<div ng-show = 'firstSearch'class="greeting">
  <p>
"Welcome, you can get started by entering your scrabble letters and seeing all possible combinations,
then you can get your the word's defintion, add up your score, and see your saved searches. Try with the combination <span ng-click = "scrabbleMap('qwerty'); firstSearch = !firstSearch"><a>QWERTY</a></span>"
<br>
  -Charles
</p>
</div>
<div class="answers">
  <div class = "container" ng-repeat="key in answers">
    <div class="wrapper">
      <h1  class = "word">"{{key.scrabbleWord}}"</h1>
      <button><a href="#/focus/{{key.scrabbleWord}}">Get Definition</a></button>
        <h2 class = "score">{{key.score}} points</h2>
    </div>
</div>
</div>
